:root {
    --PrimaryColor: hsl(26,93%,50%);
    --HoverColor: hsl(26,90%,42%);
    --paleOrange: hsl(40, 75%, 89%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,10%);
    --textColor: hsl(240,1%,48%);
    --bgColor: hsl(220,10%,94%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyBg: hsl(0,0%,96%);
    --greyText: rgb(190,190,190);
    --inputColor: hsl(330,12%,97%);
    --itemCardColor: hsl(0, 0%, 82%);


    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}



.adminBlog{
    width:100%;
    height:100%;
    .header{
        width: 100%;
        justify-content: space-between;
    .searchBar{
        padding: 1rem 2rem;
        background: var(--whiteColor);
        border-radius: 5px;
        gap: 1rem;
        box-shadow: 0 2px 4px var(--inputColor);

        input{
            border: none;
            outline: none;
            background: none;
        }

        .icon{
            color: var(--textColor);
            &:hover{
                color: var(--HoverColor);
            }
        }
    }

    .btn{
        background: var(--PrimaryColor);
        color: var(--whiteColor);
        margin-left: 1rem;
        &:hover{
            background: var(--PrimaryColor);
            color: var(--whiteColor);
        }

    }
}

.secContainer{
    width: 100%;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem{
        position: relative;
        display: flex;
        width: 200px;
        height: 200px;
        padding: 1rem;
        border-radius: 10px;
        background: var(--itemCardColor);

        img{
           width: 100%;
           max-height: 50%;
           border-top-left-radius: 5px;
           border-top-right-radius: 5px;

        }


        p{
           
            overflow: hidden;
            font-weight: 600;
            text-overflow: ellipsis;
            max-height: 50%;
            color: var(--blackColor);
            padding: 1rem 0;
        }

        .blogdetails{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .controls{
            display:flex;
            flex-direction:column;
            justify-content: center;
            background-color: var(--whiteColor);
            gap: 1rem;
            padding: 0.5rem;
            
            margin-left: 1rem;
            
            border-radius: 5px;



            color:var(--textColor);

           .controlBtn{
            cursor:pointer;
            &:hover{
                color:var(--PrimaryColor);
                font-size:30px;
            }
           }

        }
        
       
    }
}

}