:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --paleOrange: hsl(40, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(0, 0%, 82%);
  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.users {
  width: 100%;
  height: 100%;
}
.users .header {
  width: 100%;
  justify-content: space-between;
}
.users .header .searchBar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
}
.users .header .searchBar input {
  border: none;
  outline: none;
  background: none;
}
.users .header .searchBar .icon {
  color: var(--textColor);
}
.users .header .searchBar .icon:hover {
  color: var(--HoverColor);
}
.users .header .btn {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  margin-left: 1rem;
}
.users .header .btn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
.users .customers {
  margin-top: 2rem;
  gap: 2rem;
  align-items: flex-start;
}
.users .customers .allUsersSection {
  flex-basis: 30%;
}
.users .customers .allUsersSection .secContainer {
  margin-top: 1rem;
}
.users .customers .allUsersSection .secContainer .singleCustomer {
  cursor: pointer;
  align-items: flex-start;
  justify-content: space-between;
}
.users .customers .allUsersSection .secContainer .singleCustomer img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--itemCardColor);
  margin-right: 1rem;
}
.users .customers .allUsersSection .secContainer .singleCustomer .customerDetails {
  flex: 1;
}
.users .customers .allUsersSection .secContainer .singleCustomer .customerDetails .name {
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--blackColor);
  display: block;
}
.users .customers .allUsersSection .secContainer .singleCustomer .customerDetails small {
  font-weight: 500;
  color: var(--textColor);
  font-size: var(--smallFontSize);
}
.users .customers .allUsersSection .secContainer .singleCustomer .customerDetails small .admin {
  color: var(--PrimaryColor);
}
.users .customers .allUsersSection .secContainer .singleCustomer .duration {
  color: var(--textColor);
  font-weight: 500;
  font-size: var(--smallestFontSize);
}
.users .customers .focusUserSection {
  flex-basis: 70%;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  border-radius: 5px;
  padding: 1rem;
}
.users .customers .focusUserSection .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users .customers .focusUserSection .top img {
  width: 200px;
  height: 200px;
  padding: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--itemCardColor);
  margin-right: 1rem;
}
.users .customers .focusUserSection .bottom {
  padding-top: 1rem;
}
.users .customers .focusUserSection .bottom .selectionInput {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  border-color: var(--itemCardColor);
}

@media screen and (max-width: 918px) {
  .users .customers {
    flex-direction: column;
  }
  .users .customers .focusUserSection {
    width: 100%;
  }
  .users .customers .allUsersSection {
    width: 100%;
  }
}/*# sourceMappingURL=users.css.map */