:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --paleOrange: hsl(40, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(0, 0%, 82%);

  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.users {
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
    justify-content: space-between;
    .searchBar {
      padding: 1rem 2rem;
      background: var(--whiteColor);
      border-radius: 5px;
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      input {
        border: none;
        outline: none;
        background: none;
      }

      .icon {
        color: var(--textColor);
        &:hover {
          color: var(--HoverColor);
        }
      }
    }

    .btn {
      background: var(--PrimaryColor);
      color: var(--whiteColor);
      margin-left: 1rem;
      &:hover {
        background: var(--PrimaryColor);
        color: var(--whiteColor);
      }
    }
  }

  .customers {
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-start;
    .allUsersSection {
      flex-basis: 30%;

      .secContainer {
        margin-top: 1rem;

        .singleCustomer {
          cursor: pointer;
          align-items: flex-start;
          justify-content: space-between;

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 2px 4px var(--itemCardColor);
            margin-right: 1rem;
          }

          .customerDetails {
            flex: 1;

            .name {
              font-size: var(--h3FontSize);
              font-weight: 600;
              color: var(--blackColor);
              display: block;
            }

            small {
              font-weight: 500;
              color: var(--textColor);
              font-size: var(--smallFontSize);

                .admin{
                    color: var(--PrimaryColor);
                }
            }
          }

          .duration {
            color: var(--textColor);
            font-weight: 500;
            font-size: var(--smallestFontSize);
          }
        }
      }
    }

    .focusUserSection {
      flex-basis: 70%;
      width: 100%;
      height: 100%;
      background-color: var(--whiteColor);
      border-radius: 5px;
      padding: 1rem;
      
      .top{
          display: flex;
          justify-content: space-between;
          align-items: center;
         
  
  
        img {
          width: 200px;
          height: 200px;
          padding: 1rem;
          
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 2px 4px var(--itemCardColor);
          margin-right: 1rem;
        }
      }

      .bottom{
        padding-top: 1rem;


        .selectionInput {
            padding: 1rem 2rem;
            background: var(--whiteColor);
            border-radius: 5px;
            gap: 1rem;
            border-color: var(--itemCardColor);
        }
        

      }
    }
  }
}

@media screen and (max-width: 918px) {
  .users {
    .customers {
        flex-direction: column;
    .focusUserSection {
      width: 100%;
    }
    .allUsersSection {
      width: 100%;
    }
  }
}
}
