:root {
  --PrimaryColor: hsl(26,93%,50%);
  --HoverColor: hsl(26,90%,42%);
  --paleOrange: hsl(40, 75%, 89%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(0,0%,10%);
  --textColor: hsl(240,1%,48%);
  --bgColor: hsl(220,10%,94%);
  --whiteColorDeam: hsl(0,0%,93%);
  --greyBg: hsl(0,0%,96%);
  --greyText: rgb(190,190,190);
  --inputColor: hsl(330,12%,97%);
  --itemCardColor: hsl(0, 0%, 82%);
  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.adminPackage {
  width: 100%;
  height: 100%;
}
.adminPackage .header {
  width: 100%;
  justify-content: space-between;
}
.adminPackage .header .searchBar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
}
.adminPackage .header .searchBar input {
  border: none;
  outline: none;
  background: none;
}
.adminPackage .header .searchBar .icon {
  color: var(--textColor);
}
.adminPackage .header .searchBar .icon:hover {
  color: var(--HoverColor);
}
.adminPackage .header .btn {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  margin-left: 1rem;
}
.adminPackage .header .btn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
.adminPackage .secContainer {
  width: 100%;
  margin: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.adminPackage .secContainer .packageBasket {
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: var(--itemCardColor);
}
.adminPackage .secContainer .packageBasket .amenities {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 0.5rem;
}
.adminPackage .secContainer .packageBasket .amenities .singleAmenity {
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--greyBg);
  gap: 0.5rem;
}
.adminPackage .secContainer .singleItem {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  padding: 1rem;
}
.adminPackage .secContainer .singleItem img {
  width: 100%;
  max-height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.adminPackage .secContainer .singleItem p {
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  max-height: 50%;
  color: var(--blackColor);
  padding: 1rem 0;
}
.adminPackage .secContainer .singleItem .packagedetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.adminPackage .secContainer .singleItem .controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--whiteColor);
  gap: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
  color: var(--textColor);
}
.adminPackage .secContainer .singleItem .controls .controlBtn {
  cursor: pointer;
}
.adminPackage .secContainer .singleItem .controls .controlBtn:hover {
  color: var(--PrimaryColor);
  font-size: 30px;
}/*# sourceMappingURL=packages.css.map */